@import "fonts";
*{
    margin: 0 auto;
}
body{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}
.excersize{
    margin: 10px auto;
    width: 80%;
    align-self: center;
    &-span {
        display: flex;
        text-align: center;
        font-family: Raleway;
        font-size: 22px;
        line-height: 1.2;
        font-weight: 600;
    }
    &-p{
        font-family: Montserrat;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
    }
}
code {
    background-color: #eee;
    border-radius: 3px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;    
    padding: 0 3px;
}
